/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
  outline: none;
}

button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
  outline: none;
}

section {
  margin: auto;
  width: 950px;
}
header {
}
.gnb {
  padding: 30px 0;
  text-align: right;
}
.gnb a {
  margin: 15px;
  position: relative;
  padding-bottom: 5px;
}
.gnb a:nth-child(3) {
  margin-right: 0;
}
.gnb a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  left: 50%;
  bottom: 0;
  transition: 0.3s;
  transform: translateX(-50%);
}
.gnb a:hover:after {
  width: 100%;
}
.search-box {
  display: flex;
  justify-content: space-between;
}
.search-box input {
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  padding: 5px;
  background: url(images/search.png) no-repeat center right;
  background-size: 15px;
  width: 300px;
}

.search-box input:focus::placeholder {
  visibility: hidden;
}

.search-box button {
  border: none;
  background-color: crimson;
  color: #fff;
  font-size: 18px;
  padding: 13px 60px;
  border-radius: 6px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.167);
  transition: 0.3s;
}
.search-box button:hover {
  background-color: #000;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.item {
  width: 310px;
  height: 200px;
  margin-bottom: 5px;
  overflow: hidden;
}
.item img {
  width: 100%;
}

@media (max-width: 767px) {
  section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .gnb {
    text-align: center;
  }
  .search-box {
    flex-direction: column;
  }
  .search-box input {
    margin-bottom: 10px;
    width: 100%;
  }
  .item {
    width: 100%;
  }
  .gnb a:nth-child(3) {
    margin-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .item {
    width: 48%;
    margin-bottom: 10px;
  }
}
