/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
  outline: none;
}
input,
textarea,
select {
  outline: none;
}

section {
  margin: auto;
  width: 1000px;
  display: flex;
}
.post {
  display: flex;
  flex-direction: column;
}
.post:nth-child(odd) {
  flex-direction: column;
}
.post:nth-child(even) {
  flex-direction: column-reverse;
}
.image {
  /* flex: 1; */
  width: 250px;
  overflow: hidden;
}

.image img {
  width: 100%;
  display: block;
  transition: 0.3s;
}
.image img:hover {
  transform: scale(1.05);
}
.desc {
  background-color: #1dd1a1;
  color: #fff;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.desc h2 {
}
.desc p {
  line-height: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
  section {
    width: 100%;
    padding: 30px;
    flex-wrap: wrap;
  }
  .desc {
    flex: 1;
  }
  .post {
    flex-direction: row !important;
  }
  .post:nth-child(even) {
    flex-direction: row-reverse !important;
  }
  .image,
  .desc {
    flex: 1;
    height: 100%;
  }
}

@media (max-width: 767px) {
  section {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
  .desc {
  }
  .post {
  }
  .post:nth-child(even) {
    flex-direction: column;
  }
  .image,
  .desc {
    width: 100%;
  }
}
