/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset CSS */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
button {
  cursor: pointer;
  outline: none;
}

section {
  display: flex;
  justify-content: space-between;
}
.media {
  display: flex;
  background-color: red;
  width: 600px;
  padding: 10px;
  justify-content: center;
  box-sizing: border-box;
}
.media img {
  width: 100px;
  flex: 2;
  margin-right: 1em;
}

.media-body {
  flex: 5;
}
.media-body h3 {
}
.media-body p {
}

@media (max-width: 767px) {
  section {
    flex-wrap: wrap;
  }
  .media {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .media:nth-child(1) {
    margin-top: 0;
  }
  .media img {
    width: 100%;
  }
  .media-body h3 {
    margin-top: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  section {
    flex-wrap: wrap;
  }
  .media {
    width: 100%;
    margin-top: 10px;
  }
  .media:nth-child(1) {
    margin-top: 0;
  }
}
